body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b80c4;
}

.order-form {
  height: 550px;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #C47F3B;
  border-radius: 10px;
}

.title-bar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.842);
  background-color: rgb(37, 107, 109);
  border-radius: 10px 10px 0px 0px;
}

.order-bar {
  padding: 10px;
  box-sizing: border-box;
}

.ticket-bar {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.ticket-name {
  margin-left: 10px;
  margin-right: auto;  
}

.button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border-width: 1px;
  font-size: 20px;
  cursor:pointer;
}

.quantity-input {
  height: 30px;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  border-width: 1px;
  padding-left: 18px;
  pointer-events: none;
}

.promo-code {
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.quantity-input-promo {
  height: 30px;
  width: 110px;
  border-radius: 5px;
  border-width: 1px;
  text-align: center;
  margin-right: 10px;
}

.total-output { 
  height: 30px;
  width: 110px;
  border-radius: 5px;
  border-width: 1px;
  pointer-events: none;
  text-align: center;
  margin-right: 10px;
}

.submit-div {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.discount-bar {
  height: 15px;
  padding-left: 10px;
  margin: 0px;
}

.discount {
  margin: 0px;
  color: rgb(177, 8, 8);
  font-weight: bolder;
}
